/* Détermine l'apparence générale de la page */
body {
    background-color: rgb(0,0,0);
}
/* Détermine l'apparence de la fenêtre d'inventaire */
.inventory{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 0.1;
    color: white;
}
/* Détermine l'apparence de la fenêtre marketplace à modifier après le tutorial */
.marketplace{
    display: none;
}
.sell_buttons{
    display: grid;
    grid-template-columns: repeat(3, 70px);
    margin-bottom: 10px;
}